body {
    background-color: #F5F5F5;
    margin: 0;
  }
  
app-nav-bar {
    background-color: white;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
