<div *ngIf="user">
    <div class="career-page">
        <header class="career-header">
            <h1>Careers</h1>
        </header>

            <!-- <div class="search-bar">
            <input type="text" placeholder="Job Title" class="search-input" />
            <button class="search-btn">Search</button>
        </div> -->

        <div class="cards-container">
            <div *ngFor="let job of jobs" class="job-card">
                <app-job-card [job]="job"></app-job-card>
            </div>
        </div>
    </div>
</div>
