<div *ngIf="user">
    <div class="career-page">
      <header class="career-header">
        <h1>Careers</h1>
        <div class="filter-container">
          <button type="button" class="search_btn" (click)="newJobSearch()">Quick Seach</button>
          <label for="filter">Filter:</label>
          <select id="filter" [(ngModel)]="filterOption" (change)="filterJobs()">
            <option value="all">All</option>
            <option value="not-applied">Not Applied</option>
            <option value="applied">Applied</option>
            
          </select>
        </div>
      </header>

      <div *ngIf="loading" class="loading-overlay">
        <div class="loading-content">
         
          <div class="spinner"></div>
          
          <p>Loading new jobs, please wait...</p>
        </div>
      </div>
  
      <div class="cards-container">
        <div *ngFor="let job of filteredJobs" class="job-card">
          <app-job-card [job]="job" (removeJob)="removeJob($event)"></app-job-card>
        </div>
      </div>
    </div>
  </div>
  