<div class="homepage">  
    <section class="hero">
      <div class="hero-content">
        <h1>Career Sync</h1>
        <p>
            Career Sync simplifies your job search with advanced technology. Our smart platform uses a powerful chatbot and real-time updates to match you with jobs tailored to your goals. Discover new opportunities effortlessly with Career Sync</p>
        <button class="cta-button" routerLink="/sign-up-page">GET STARTED NOW</button>
      </div>
      <div class="hero-image">
        <img src="assets/images/developer-and-chatbot-img.png" alt="Chatbot illustration" />
      </div>
    </section>
  </div>
  