.header {
    background-color: #f8f8f8;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: -10%;
    list-style-type: none;
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
    color: gray;
    font-weight: lighter;
}

.logo img{
    width: 22px;
    height: auto;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li {
    margin: 0 15px;
    font-size: 18px;
    cursor: pointer;
    color: gray;
    font-weight: lighter;
}

.login {
    list-style-type: none;
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
    color: gray;
    font-weight: lighter;
    margin-right: 1%;
}