<header class="header">
    <nav class="navbar">
        <div class="logo">
                <img src="assets/images/logo.png" alt="logo-img"/>
                <li >Career Sync</li>
        </div>

        <ul class="nav-links">
            <li routerLink="/home-page">Home</li>
            <li routerLink="/about">About Us</li>
            <li routerLink="/chat">Chat</li>
        </ul>

        <div class="login">
            <li (click)="isSignInVisible=!isSignInVisible">Login</li>
        </div>
        
        <app-sign-in *ngIf="isSignInVisible"></app-sign-in>
    </nav>
</header>
