.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.close-button {
    width: 10px;
    height: 10px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    position: fixed;
    margin-right: 65%;
    margin-top: 9%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1.97px;
    position: relative;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.text {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.form-group {
    width: 100%;
}

.field {
    width: 100%;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.login-btn, .sign-up-btn {
    width: 100%;
    max-width: 155px;
    height: 36px;
    margin-bottom: 10px;
}

.or {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}
